/* You can add global styles to this file, and also import other style files */
#template-table{
z-index: 1000;
}

.predicted_simple_distance {
    background-color: crimson !important;
}

.predicted_distance_from_velocity {
    background-color: cyan!important;
}

.predicted_distance_from_velocity.predicted_simple_distance {
    background-color: hotpink !important;
}