<div class="container" style="margin-top: 200px;">
    <div class="row">
        <div class="col-10">
            <section class="example-section">
                <label class="example-margin">Add Template for:</label>
                <mat-radio-group [(ngModel)]="aim">
                    <mat-radio-button class="example-margin" value="template">Library</mat-radio-button>
                    <mat-radio-button class="example-margin" value="prediction">Prediction</mat-radio-button>
                </mat-radio-group>
            </section>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary pull-right" (click)='verifyResults()'>Verify Results</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="text-muted">Place cursor inside the table to start detection</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-hoverable-table (templateAddition)='action($event)'></app-hoverable-table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="text-muted" *ngIf="chartArray?.raw">Raw data</h4>
            <app-velocity-chart [array]='chartArray?.raw' id="rawData" [chartFlag]='chartFlag'></app-velocity-chart>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="text-muted" *ngIf="chartArray?.resampled">Resampled data</h4>
            <app-velocity-chart [array]='chartArray?.resampled' id="resampledData" [chartFlag]='chartFlag'></app-velocity-chart>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="text-muted" *ngIf="chartArray?.smoothed">Smoothed data</h4>
            <app-velocity-chart [array]='chartArray?.smoothed' id="smoothedData" [chartFlag]='chartFlag'></app-velocity-chart>
        </div>
    </div>
</div>
