<div class="container" style="margin-top: 200px;">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-muted">Place cursor inside the table to start detection</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-hoverable-table (templateAddition)='addTemplate($event)'></app-hoverable-table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="text-muted" *ngIf="chartArray?.raw">Raw data</h4>
            <app-velocity-chart [array]='chartArray?.raw' id="rawData" [chartFlag]='chartFlag'></app-velocity-chart>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="text-muted" *ngIf="chartArray?.resampled">Resampled data</h4>
            <app-velocity-chart [array]='chartArray?.resampled' id="resampledData" [chartFlag]='chartFlag'></app-velocity-chart>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4 class="text-muted" *ngIf="chartArray?.smoothed">Smoothed data</h4>
            <app-velocity-chart [array]='chartArray?.smoothed' id="smoothedData" [chartFlag]='chartFlag'></app-velocity-chart>
        </div>
    </div>
</div>
